In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://hqf25277:cs9p4kw5jwfv-rb6@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: hqf25277@BLUDB'

In [6]:
# Rows in Crime Table
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('7264655'),)]

In [7]:
%sql select * from CHICAGO_CRIME_DATA limit 10

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(10224738, 'HY411648', '09/05/2015 01:30:00 PM', '043XX S WOOD ST', '0486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'false', 'true', 924, 9, 12, 61, '08B', 1165074, 1875917, 2015, '02/10/2018 03:50:01 PM', Decimal('41.815117282'), Decimal('-87.669999562'), '(41.815117282, -87.669999562)'),
 (10224739, 'HY411615', '09/04/2015 11:30:00 AM', '008XX N CENTRAL AVE', '0870', 'THEFT', 'POCKET-PICKING', 'CTA BUS', 'false', 'false', 1511, 15, 29, 25, '06', 1138875, 1904869, 2015, '02/10/2018 03:50:01 PM', Decimal('41.895080471'), Decimal('-87.765400451'), '(41.895080471, -87.765400451)'),
 (11646166, 'JC213529', '09/01/2018 12:01:00 AM', '082XX S INGLESIDE AVE', '0810', 'THEFT', 'OVER $500', 'RESIDENCE', 'false', 'true', 631, 6, 8, 44, '06', None, None, 2018, '04/06/2019 04:04:43 PM', None, None, None),
 (10224740, 'HY411595', '09/05/2015 12:45:00 PM', '035XX W BARRY AVE', '2023', 'NARCOTICS', 'POSS: HEROIN(BRN/TAN)', 'SIDEWALK', 'true', 'false', 1412, 14, 35, 21, '18', 1152037, 1920384, 2015, '02/10/2018 03:50:01 PM', Decimal('41.937405765'), Decimal('-87.716649687'), '(41.937405765, -87.716649687)'),
 (10224741, 'HY411610', '09/05/2015 01:00:00 PM', '0000X N LARAMIE AVE', '0560', 'ASSAULT', 'SIMPLE', 'APARTMENT', 'false', 'true', 1522, 15, 28, 25, '08A', 1141706, 1900086, 2015, '02/10/2018 03:50:01 PM', Decimal('41.881903443'), Decimal('-87.755121152'), '(41.881903443, -87.755121152)'),
 (10224742, 'HY411435', '09/05/2015 10:55:00 AM', '082XX S LOOMIS BLVD', '0610', 'BURGLARY', 'FORCIBLE ENTRY', 'RESIDENCE', 'false', 'false', 614, 6, 21, 71, '05', 1168430, 1850165, 2015, '02/10/2018 03:50:01 PM', Decimal('41.744378879'), Decimal('-87.658430635'), '(41.744378879, -87.658430635)'),
 (10224743, 'HY411629', '09/04/2015 06:00:00 PM', '021XX W CHURCHILL ST', '0620', 'BURGLARY', 'UNLAWFUL ENTRY', 'RESIDENCE-GARAGE', 'false', 'false', 1434, 14, 32, 24, '05', 1161628, 1912157, 2015, '02/10/2018 03:50:01 PM', Decimal('41.914635603'), Decimal('-87.681630909'), '(41.914635603, -87.681630909)'),
 (10224744, 'HY411605', '09/05/2015 01:00:00 PM', '025XX W CERMAK RD', '0860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'true', 'false', 1034, 10, 25, 31, '06', 1159734, 1889313, 2015, '09/17/2015 11:37:18 AM', Decimal('41.851988885'), Decimal('-87.689219118'), '(41.851988885, -87.689219118)'),
 (10224745, 'HY411654', '09/05/2015 11:30:00 AM', '031XX W WASHINGTON BLVD', '0320', 'ROBBERY', 'STRONGARM - NO WEAPON', 'STREET', 'false', 'true', 1222, 12, 27, 27, '03', 1155536, 1900515, 2015, '02/10/2018 03:50:01 PM', Decimal('41.882813740'), Decimal('-87.704325717'), '(41.88281374, -87.704325717)'),
 (11645836, 'JC212333', '05/01/2016 12:25:00 AM', '055XX S ROCKWELL ST', '1153', 'DECEPTIVE PRACTICE', 'FINANCIAL IDENTITY THEFT OVER $ 300', None, 'false', 'false', 824, 8, 15, 63, '11', None, None, 2016, '04/06/2019 04:04:43 PM', None, None, None)]

In [11]:
%%sql 
select count(*)
from CHICAGO_CRIME_DATA
where "Arrest"='true'

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('1971385'),)]

In [15]:
%%sql 
select Distinct("Primary_Type") 
from CHICAGO_CRIME_DATA 
WHERE "Location_Description" ='GAS STATION'

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('CRIM SEXUAL ASSAULT',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL SEXUAL ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('DECEPTIVE PRACTICE',),
 ('GAMBLING',),
 ('HOMICIDE',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('INTIMIDATION',),
 ('KIDNAPPING',),
 ('LIQUOR LAW VIOLATION',),
 ('MOTOR VEHICLE THEFT',),
 ('NARCOTICS',),
 ('OBSCENITY',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('OTHER OFFENSE',),
 ('PROSTITUTION',),
 ('PUBLIC INDECENCY',),
 ('PUBLIC PEACE VIOLATION',),
 ('ROBBERY',),
 ('SEX OFFENSE',),
 ('STALKING',),
 ('THEFT',),
 ('WEAPONS VIOLATION',)]

In [16]:
%sql select * from CENSUS_DATA where community_area_name like 'B%'

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(19, 'Belmont Cragin', Decimal('10.8'), Decimal('18.7'), Decimal('14.6'), Decimal('37.3'), Decimal('37.3'), 15461, 70),
 (47, 'Burnside', Decimal('6.8'), Decimal('33.0'), Decimal('18.6'), Decimal('19.3'), Decimal('42.7'), 12515, 79),
 (58, 'Brighton Park', Decimal('14.4'), Decimal('23.6'), Decimal('13.9'), Decimal('45.1'), Decimal('39.3'), 13089, 84),
 (60, 'Bridgeport', Decimal('4.5'), Decimal('18.9'), Decimal('13.7'), Decimal('22.2'), Decimal('31.3'), 22694, 43),
 (72, 'Beverly', Decimal('0.9'), Decimal('5.1'), Decimal('8.0'), Decimal('3.7'), Decimal('40.5'), 39523, 12)]

In [17]:
%sql select name_of_school from CHICAGO_PUBLIC_SCHOOL where community_area_number >= 10 and community_area_number <=15 and healthy_school_certified = 'Yes'

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

In [18]:
%sql select avg(safety_score) as avg_safety_score from CHICAGO_PUBLIC_SCHOOL

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [25]:
%%sql select "COMMUNITY_AREA_NUMBER","COMMUNITY_AREA_NAME",count(*) as total_amount_of_schools, avg(college_enrollment) as average_COLLEGE_ENROLLMENT
    from "CHICAGO_PUBLIC_SCHOOL" group by "COMMUNITY_AREA_NUMBER","COMMUNITY_AREA_NAME"
    order by average_COLLEGE_ENROLLMENT desc limit 5

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(57, 'ARCHER HEIGHTS', Decimal('2'), Decimal('2411.500000')),
 (18, 'MONTCLARE', Decimal('1'), Decimal('1317.000000')),
 (62, 'WEST ELSDON', Decimal('3'), Decimal('1233.333333')),
 (58, 'BRIGHTON PARK', Decimal('8'), Decimal('1205.875000')),
 (19, 'BELMONT CRAGIN', Decimal('12'), Decimal('1198.833333'))]

In [26]:
%sql select community_area_number as c_num,community_area_name as c_name from CHICAGO_PUBLIC_SCHOOL \
    where safety_score = (select min(safety_score) from CHICAGO_PUBLIC_SCHOOL)

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(40, 'WASHINGTON PARK')]

In [27]:
%sql select per_capita_income from CENSUS_DATA \
    where community_area_number = (select community_area_number from CHICAGO_PUBLIC_SCHOOL where safety_score = 1)

 * ibm_db_sa://hqf25277:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785,)]